body {
    background-color: #ffa200;
	animation:changeColor 15s infinite;
	-webkit-animation:changeColor 15s infinite; /* Safari and Chrome */
    min-width: 1024px;
}

@keyframes changeColor
{
from {background:blue;}
to {background:orange;}
}

#main_container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: white;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
    position: relative;
}

.box{
    clear: both;
    overflow: hidden;
    background-color: #ffa200;
    padding: 0px;
    -webkit-box-shadow: 0 0 12px rgba(255,255,255,.6), inset 0 0 12px rgba(255,255,255,1);
    -moz-box-shadow: 0 0 12px rgba(255,255,255,.6), inset 0 0 12px rgba(255,255,255,1);
    box-shadow: 0 0 12px rgba(255,255,255,.6), inset 0 0 12px rgba(255,255,255,1);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#title{
    position: relative;
    text-align: center;
    margin-bottom: 5px;
}

#title img {
    position: absolute;
    top: 10px;
    left: 10px;
	animation:moveLogo 15s infinite;
	-webkit-animation:moveLogo 15s infinite; /* Safari and Chrome */
}

@keyframes moveLogo
{
from {left:0%;
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
to {left:100%;
  -webkit-transform: rotate(720deg);
     -moz-transform: rotate(720deg);
       -o-transform: rotate(720deg);
      -ms-transform: rotate(720deg);
          transform: rotate(720deg);}
}

#title p {
    text-shadow: 5px 5px 5px #F44515;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    margin: 24px;
    padding: 0px;
}

#title a {
    text-decoration: none;
}

#home_main {
    margin-top: 20px;
    margin-left: 180px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 20px;
    text-align: center;
}

#home_main form span {
    padding: 17px;
    background: #f0f0f0;
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
    text-align: center;
}

#home_main form div {
    margin: auto;
    width: 500px;
    padding: 17px;
    background: #f0f0f0;
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
}

#form {
    margin: 0px;
    padding: 0px;
    /* width: 410px; */
}
.f1 {
	padding: 0px;
    background: #f0f0f0;
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
    text-align: center;
}

.container {
    background:#ddd;
    margin:20px auto;
    position:relative;
    margin-left: 3%;
    width:90%;
    margin-top: 2px;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:1px 1px 5px #111;
    -moz-box-shadow:1px 1px 5px #111;
    -webkit-box-shadow:1px 1px 5px #111;
}

.gallery {
    width: 100%;
}

.gallery a {
    display: inline-block;
    height: 150px;
    position: relative;
    width: 185px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.gallery a img {
    border:5px solid #fff;
    cursor:pointer;
    display:block;
    height:100%;
    left:0px;
    position:absolute;
    top:0px;
    width:100%;
    z-index:1;

    -moz-user-select: none;
    -khtml-user-select: none;

    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;

    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:2.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:2.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:2.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:2.5s;
}

.gallery a:hover img {
    border:15px solid #fff;
    cursor:default;
    height:150%;
    position:absolute;
    width:150%;
    z-index:25;

    box-shadow:1px 1px 5px #888;
    -moz-box-shadow:1px 1px 5px #888;
    -webkit-box-shadow:1px 1px 5px #888;
    -webkit-transition-property:width, height, top, bottom, left, right, z-index, border;
    -webkit-transition-duration:2.5s;
    -moz-transition-property:width, height, top, bottom, left, right, z-index, border;
    -moz-transition-duration:2.5s;
    -o-transition-property:width, height, top, bottom, left, right, z-index, border;
    -o-transition-duration:2.5s;
    transition-property:width, height, top, bottom, left, right, z-index, border;
    transition-duration:2.5s;
}

div.allinea {
    float:left;
    margin-left:2px;
    margin-right: 5px;
}
    
button {
    display: inline;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 50%;
}

input {
    font-family: Arial, Verdana;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #b9bdc1;
    min-width: 300px;
    color: #797979;
    margin-right: 5px;
	margin-bottom: 10px;
	padding:5px;
}
    
#main_nav {
    clear: right;
    float: left;
    margin: 0px;
    padding: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 20px;
    overflow: hidden;
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;    
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8);
    box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8); 
}

nav ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    list-style: none;
    border-bottom: 2px solid #b9bdc1;
}

nav li {
    margin: 0px;
    margin-bottom: 13px;
    margin-top: 13px;
    padding: 0px;
}

nav a {
    padding: 3px;
    text-decoration: none;
    color: #555;
    font: bold 15px 'trebuchet MS', Arial, Helvetica;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: -moz-linear-gradient(#f5f5f5, #c1c1c1);
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#c1c1c1));
    background: -webkit-linear-gradient(#f5f5f5, #c1c1c1);
    background: -o-linear-gradient(#f5f5f5, #c1c1c1);
    background: -ms-linear-gradient(#f5f5f5, #c1c1c1);
    background: linear-gradient(#f5f5f5, #c1c1c1);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
 
nav a:hover, nav a:focus {
    color: #fff;
    background: #fac754;
    background: -moz-linear-gradient(#fac754, #f8ac00);
    background: -webkit-gradient(linear, left top, left bottom, from(#fac754), to(#f8ac00));
    background: -webkit-linear-gradient(#fac754, #f8ac00);
    background: -o-linear-gradient(#fac754, #f8ac00);
    background: -ms-linear-gradient(#fac754, #f8ac00);
    background: linear-gradient(#fac754, #f8ac00);
}

nav a:active {
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}

.slide {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    text-align: center;
}

.slide a {
    margin: 2px;
    display:inline-block;
    width: 100px;
    height: 100px;
    position: relative;
}

.slide a img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition-property: width, height;
    -webkit-transition-duration: 300ms;
    -moz-transition-property: width, height;
    -moz-transition-duration: 300ms;
    -o-transition-property: width, height;
    -o-transition-duration: 300ms;
    position: absolute;
    border: solid 2px #ffa200;
}

.slide a:hover img{
    display: block;
    width: 170%;
    height: 170%;
    position: absolute;
    z-index: 1;
    -moz-box-shadow: 0 0 15px 2px #ffa200;
    -webkit-box-shadow: 0 0 15px 2px #ffa200;
    box-shadow: 0 0 15px 2px #ffa200; /* we add some beauty */
    -webkit-transition-property: width, height; /* we decrease the image */
    -webkit-transition-duration: 1s; /* we specify, with what speed it is necessary to increase an image */
    -webkit-transition-delay: 0.3s; /* as a browser will process it, before enlarging a photo */
    -moz-transition-property: width, height;
    -moz-transition-duration: 1s;
    -moz-transition-delay: 0.3s;
    -o-transition-property:width, height;
    -o-transition-duration: 1s;
    -o-transition-delay: 0.3s;
}

#account {
    float: right;
    margin-bottom: 0px;
}

#account ul {
    border: 0px;
}

#account ul ul {
    display: none;
}

#account ul li:hover ul {
    display: block;
    position: absolute;
    z-index: 1;
}


#description_area{
	clear:left;
	width: 500px; 
	height: 200px; 
	padding: 15px; 
	overflow:auto;
	border: 2px solid black; 
	background: #f0f0f0;
    border: 1px solid #cccccc;
   -moz-border-radius: 7px;
   -webkit-border-radius: 7px;
    border-radius: 7px;
   -moz-box-shadow: 2px 2px 2px #cccccc;
   -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
    margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	display: block;
	text-align:center;
	font: bold 15px 'trebuchet MS', Arial, Helvetica;
}



#ingredients_list{	
	float: left;
	counter-reset:li;
	padding: 15px;  
	background: #f0f0f0;
	-moz-border-radius: 7px;
   -webkit-border-radius: 7px;
    border-radius: 7px;
   -moz-box-shadow: 2px 2px 2px #cccccc;
   -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
	list-style:none;
	text-align:left;
	font: bold 15px 'trebuchet MS', Arial, Helvetica;
   }
   
 #ingredients_list li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
	padding:4px;
    color:#fff;
    background:#666;
	border-radius: 50%;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
	width: 15px;
    text-align: center;
	margin-right: 10px;
	margin-bottom: 2px;
	display: inline-block;
    
}

.video-wrapper { 
	width: 600px; 
	height: 337px; 
	padding: 15px; 
	border: 2px solid black; 
	background: #f0f0f0;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	display: block;
}



ul#vfrags {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    list-style: none;
	margin-top: 20px;  
	margin-right:auto; 
	margin-left:auto;
}
  
ul#vfrags li {
    background-color: #FF831C;
    border-bottom: 5px solid #54BAE2;
    display: block;
    margin: 2px;
	margin-bottom: 20px;
    float: left; /* elementi su singola riga */
}
  
ul#vfrags li a {
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
  
ul#vfrags li:hover {
    background-color: #54BAE2;
    border-bottom: 5px solid #FF831C;
}

ul#vfrags li :active{
    color:#000;
}


footer ul{
    font-family: Verdana, sans-serif;
	width: 800px;
    margin: 20px auto 0px auto;
    padding: 0;
    list-style: none;
}
  
footer ul li {
    background-color: #FF831C;
    border-bottom: 5px solid #C0C0C0;
    display: block;
    margin: 2px;
	margin-bottom: 20px;
    float: left;
}
  
footer ul li a {
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
}
  

footer ul li:hover {
	background-color: #C0C0C0;
    border-bottom: 5px solid #000000;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.rotate {
    border: 0px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.rotate:hover {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.over {
  border-bottom: 15px solid red;
}

#locateCont {
    margin-top: 30px;
    display: block;
}

#formMap {
    text-align: center;
}

#formMap fieldset {
    padding: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-right: 35px;
    border: solid 2px #C0C0C0;
    background: #f3d268;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
}

#formMap input {
    border: 0px;
    min-width: 10px;
}

#formMap button {
    display: block;
}

#formMap ul {
    list-style: none;
}

#quality {
    direction: rtl;
}

#quality input[type="radio"] {
    display: none;
}

#quality input[type="radio"] + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(star.png) no-repeat;
    cursor: pointer;
}

#quality input[type="radio"]:checked + label {
    background: url(star_sel.png) no-repeat;
}

#quality input[type="radio"]:checked + label ~ label {
    background: url(star_sel.png) no-repeat;
}

#quality input[type="radio"]:hover + label {
    background: url(star_sel.png) no-repeat;
}

#quality input[type="radio"]:hover + label ~ label {
    background: url(star_sel.png) no-repeat;
}

#markets {
    height: 90px;
    counter-reset: li;
    list-style: none;
    text-align: left;
}

#markets li:before {
    content: counter(li); /* Use the counter as content */
    counter-increment: li; /* Increment the counter by 1 */
    padding: 4px;
    color: #fff;
    background: #666;
    border-radius: 50%;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 15px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 2px;
    display: inline-block;
}

#map-canvas {
    border: 2px solid black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

#formMap #address {
    border: 2px solid #b9bdc1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.grow {
 margin: 20px 20px 20px 20px;
  -webkit-transition: all 1.5s ease;
     -moz-transition: all 1.5s ease;
       -o-transition: all 1.5s ease;
      -ms-transition: all 1.5s ease;
          transition: all 1.5s ease;
}
.grow img {
  border: 2px solid black;
  background: white;
  padding: 10px;
 }
.grow img:hover {
  width: 150px;
  height: 150px;
}

#contact{
  width: 250px;
  margin: auto;
}

#contact img {
   width:50px;
   height:50px;
}

#contact img:hover {
    border-bottom: 5px solid #FF831C;
}

table.hovertable {
	margin:auto;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

