body {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

#main_header {
    text-align: center;
}

#main_header ul, #main_nav ul {
    list-style: none;
}

#main_header a, #main_nav a {
    text-decoration: none;
}

#main_nav {
    float: left;
}

#home_section form {
    margin: 0px;
    padding: 0px;
    margin-top: 25%;
    text-align: center;
}

#home_section fieldset {
    border: 0px;
}

#main_footer {
    clear: both;
    text-align: center;
}

